@import "tailwindcss";

@layer base {
  :root {
    --bg: #f9f9f9;
    --fg: #222222;
    --muted: #6b6b6b;
    --soft: #e6e6e6;
    --soft-2: #dedede;
    --accent: #2c2c2c;
    --accent-2: #3a3a3a;
  }

  html {
    font-size: 13px;
  }

  body {
    color: var(--fg);
    background: var(--bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
